<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Awesome birthday app</title>
  <meta name="description" content="Hivemind's awesome birthday app">
  <meta name="author" content="Hivemind">

  <link rel="stylesheet" href="/css/styles.css?v=1.0">

</head>

<body>

