<%= erb :head %>

<h1>Hello there!</h1>
<form action='/is_it_your_birthday' method='post'>
  What's your name?<br>
  <input type=text name='name'><br>
  When's your birthday?<br>
  <input type=text name='day'>
  <select name='month'>
    <option value=01>January</option>
    <option value=02>February</option>
    <option value=03>March</option>
    <option value=04>April</option>
    <option value=05>May</option>
    <option value=06>June</option>
    <option value=07>July</option>
    <option value=08>August</option>
    <option value=09>September</option>
    <option value=10>October</option>
    <option value=11>November</option>
    <option value=12>December</option>
  </select>
  <br>
  <input type=submit value='Go!'>
</form>

<%= erb :foot %>
